{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/musicku.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Army</title>
</head>

<body>
    <header>
        <div class="menu_side">
            <h1><img src="{% static 'img/logo.png' %}" alt=""> BTS</h1>
            <div class="playlist">
                <h4 class="active"><span></span><i class='bx bx-music'></i> Music</h4>
                <h4><span></span><i class='bx bx-music'></i> Last Listening</h4>
                <h4><span></span><i class='bx bx-music'></i> Recommended</h4>
            </div>
            <div class="menu_song">
                <li class="songItem">
                    <span>01</span>
                    <img src="{% static 'img/spine.jpg' %}" alt="">
                    <h5>Spine Breaker <br>
                        <div class="subtitle">Skool Luv Affair Special Addition</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="1"></i>
                </li>
                <li class="songItem">
                    <span>01</span>
                    <img src="" alt="">
                    <h5>Spine Breaker <br>
                        <div class="subtitle">Skool Luv Affair Special Addition</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="1"></i>
                </li>
            </div>
        </div>
        <div class="song_side"></div>
        <div class="master_play"></div>
    </header>
    <script src="mymusic.js"></script>
</body>
</html>