{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/musicku.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Army</title>
</head>

<body>
    <header>
        <div class="menu_side">
            <h1><img src="{% static 'img/logo.png' %}" alt=""> BTS</h1>
            <div class="playlist">
                <h4 class="active"><span></span><i class='bx bx-music'></i> Music</h4>
                <h4><span></span><i class='bx bx-music'></i> Last Listening</h4>
                <h4><span></span><i class='bx bx-music'></i> Recommended</h4>
            </div>
            <div class="menu_song">
                <li class="songItem">
                    <span>01</span>
                    <img src="{% static 'img/spine.jpg' %}" alt="">
                    <h5>Spine Breaker <br>
                        <div class="subtitle">Skool Luv Affair Special Addition</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="1"></i>
                </li>
                <li class="songItem">
                    <span>02</span>
                    <img src="{% static 'img/danger.jpg' %}" alt="">
                    <h5>Danger <br>
                        <div class="subtitle">Wake Up</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="2"></i>
                </li>
                <li class="songItem">
                    <span>03</span>
                    <img src="{% static 'img/Dynamite.png' %}" alt="">
                    <h5>Dynamite <br>
                        <div class="subtitle">Be</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="2"></i>
                </li>
                <li class="songItem">
                    <span>04</span>
                    <img src="{% static 'img/idol.jpg' %}" alt="">
                    <h5>IDOL <br>
                        <div class="subtitle">Love Yourself: Answer</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="2"></i>
                </li>
                <li class="songItem">
                    <span>05</span>
                    <img src="{% static 'img/louder than bombs.jpg' %}" alt="">
                    <h5>Louder than bombs <br>
                        <div class="subtitle">Map of the Soul: 7</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="2"></i>
                </li>
                <li class="songItem">
                    <span>06</span>
                    <img src="{% static 'img/mic drop.jpg' %}" alt="">
                    <h5>MIC Drop <br>
                        <div class="subtitle">Love Yourself: Her</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="2"></i>
                </li>
                <li class="songItem">
                    <span>07</span>
                    <img src="{% static 'img/run.jpg' %}" alt="">
                    <h5>RUN <br>
                        <div class="subtitle">Youth</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="2"></i>
                </li>
                <li class="songItem">
                    <span>08</span>
                    <img src="{% static 'img/spring day.jpg' %}" alt="">
                    <h5>Spring Day <br>
                        <div class="subtitle">You Never Walk Alone</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="2"></i>
                </li>
                <li class="songItem">
                    <span>09</span>
                    <img src="{% static 'img/zero.jpg' %}" alt="">
                    <h5>00:00 (Zero O'Clock) <br>
                        <div class="subtitle">Map of the Soul: 7</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="2"></i>
                </li>
                <li class="songItem">
                    <span>10</span>
                    <img src="{% static 'img/fire.jpg' %}" alt="">
                    <h5>FIRE <br>
                        <div class="subtitle">The Most Beatiful Moment In Life: Young Forever</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="2"></i>
                </li>
            </div>
        </div>
        <div class="song_side"></div>

        <div class="master_play">
            <div class="wave">
                <div class="wave1"></div>
                <div class="wave1"></div>
                <div class="wave1"></div>
            </div>
            <img src="{% static 'img/run.jpg' %}" alt="" id="poster_master_play">
            <h5 id="title">
                Vande mataram
                <div class="subtitle">Bankim Chandra</div>
            </h5>
            <div class="icon">
                <i class='bx shuffle bx-music'> next</i>
                <i class='bx bx-skip-previous'></i>
                <i class='bx bx-play'></i>
                <i class='bx bx-skip-next' ></i>
                <i class='bx bx-cloud-download' id="download_music"></i>
            </div>
        </div>
    </header>
    <script src="{% static 'js/mymusic.js' %}"></script>
</body>

</html>