{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/musicku.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Army</title>
</head>

<body>
    <header>
        <div class="menu_side">
            <h1><img src="{% static 'img/logo.png' %}" alt=""> BTS</h1>
            <div class="playlist">
                <h4 class="active"><span></span><i class='bx bx-music'></i> Music</h4>
                <h4><span></span><i class='bx bx-music'></i> Last Listening</h4>
                <h4><span></span><i class='bx bx-music'></i> Recommended</h4>
            </div>
            <div class="menu_song">
                <li class="songItem">
                    <span>01</span>
                    <img src="{% static 'img/13.jpg' %}" alt="">
                    <h5>Spine Breaker <br>
                        <div class="subtitle">Skool Luv Affair Special Addition</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="1"></i>
                </li>
                <li class="songItem">
                    <span>02</span>
                    <img src="{% static 'img/danger.jpg' %}" alt="">
                    <h5>Danger <br>
                        <div class="subtitle">Wake Up</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="2"></i>
                </li>
                <li class="songItem">
                    <span>03</span>
                    <img src="{% static 'img/27.jpg' %}" alt="">
                    <h5>Dynamite <br>
                        <div class="subtitle">Be</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="3"></i>
                </li>
                <li class="songItem">
                    <span>04</span>
                    <img src="{% static 'img/idol.jpg' %}" alt="">
                    <h5>IDOL <br>
                        <div class="subtitle">Love Yourself: Answer</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="4"></i>
                </li>
                <li class="songItem">
                    <span>05</span>
                    <img src="{% static 'img/louder than bombs.jpg' %}" alt="">
                    <h5>Louder than bombs <br>
                        <div class="subtitle">Map of the Soul: 7</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="5"></i>
                </li>
                <li class="songItem">
                    <span>06</span>
                    <img src="{% static 'img/mic drop.jpg' %}" alt="">
                    <h5>MIC Drop <br>
                        <div class="subtitle">Love Yourself: Her</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="6"></i>
                </li>
                <li class="songItem">
                    <span>07</span>
                    <img src="{% static 'img/run.jpg' %}" alt="">
                    <h5>RUN <br>
                        <div class="subtitle">Youth</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="7"></i>
                </li>
                <li class="songItem">
                    <span>08</span>
                    <img src="{% static 'img/spring day.jpg' %}" alt="">
                    <h5>Spring Day <br>
                        <div class="subtitle">You Never Walk Alone</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="8"></i>
                </li>
                <li class="songItem">
                    <span>09</span>
                    <img src="{% static 'img/zero.jpg' %}" alt="">
                    <h5>00:00 (Zero O'Clock) <br>
                        <div class="subtitle">Map of the Soul: 7</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="9"></i>
                </li>
                <li class="songItem">
                    <span>10</span>
                    <img src="{% static 'img/fire.jpg' %}" alt="">
                    <h5>FIRE <br>
                        <div class="subtitle">The Most Beatiful Moment In Life: Young Forever</div>
                    </h5>
                    <i class='bx playListPlay bx-play-circle' id="10"></i>
                </li>
            </div>
        </div>

        <div class="song_side">
            <nav>
                <ul>
                    <li>Discover <span></span></li>
                    <li>My Library</li>
                    <li>Radio</li>
                </ul>
                <div class="search">
                    <i class='bx bx-search-alt'></i>
                    <input type="text" placeholder="Search Music...">
                </div>
                <div class="user">
                    <img src="{% static 'img/shooky.jpg' %}" alt="">
                </div>
            </nav>
            <div class="content">
                <h1><img src="{% static 'img/logo.png' %}" alt=""> BTS</h1>
                <p>"This moment right now is just so freaseas for me and am go verned, <br> I love see you guys like this and this is not gonna be the last time. <br> This is never gonna be and your the recent the smile everything, <br> so I hope, I am your recent to smile lastbomb. <br> Stay say, stay hattely wear every you are"</p>
            </div>

            <div class="popular_song">
                <div class="h4">
                    <h4>Popular Song</h4>
                    <div class="btn_s">
                        <i class='bx bxs-chevron-left' id="pop_song_left"></i>
                        <i class='bx bxs-chevron-right' id="pop_song_right"></i>
                    </div>
                </div>
                <div class="pop_song">
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/11jpg' %}" alt="" id="11">
                        </div>
                        <h5>2 Cool 4 Skool [1st Single]</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/12png' %}" alt="" id="12">
                        </div>
                        <h5>O!RUL8,2? (2013)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/13.jpg' %}" alt="" id="13">
                        </div>
                        <h5>Skool Luv Affair (2014)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/14.jpg' %}" alt="" id="14">
                        </div>
                        <h5>Dark & Wild (2014)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/15.jpg' %}" alt="" id="15">
                        </div>
                        <h5>WAKE UP</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/16.jpg' %}" alt="" id="16">
                        </div>
                        <h5>Danger [Japanese]</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/17.jpg' %}" alt="" id="17">
                        </div>
                        <h5>In The Mood For Love pt.1 (2015)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/18.jpg' %}" alt="" id="18">
                        </div>
                        <h5>In The Mood For Love pt.2 (2016)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/19.jpg' %}" alt="" id="19">
                        </div>
                        <h5>WINGS (2016)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/20.jpg' %}" alt="" id="20">
                        </div>
                        <h5>Wings, You Never Walk Alone (2017)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/21.jpg' %}" alt="" id="21">
                        </div>
                        <h5>Love Yourself 承 Her (2017)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/22.jpg' %}" alt="" id="22">
                        </div>
                        <h5>Face Yourself (2018)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/23.jpg' %}" alt="" id="23">
                        </div>
                        <h5>Love Yourself 轉 Tear (2018)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/24.jpg' %}" alt="" id="24">
                        </div>
                        <h5>Love Yourself 结 Answer (2018)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/25.jpg' %}" alt="" id="25">
                        </div>
                        <h5>Map Of The Soul:PERSONA (2020)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/26.jpg' %}" alt="" id="26">
                        </div>
                        <h5>Map Of The Soul 7 (2020)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/27.jpg' %}" alt="" id="27">
                        </div>
                        <h5>Dynamite (2020)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/28.png' %}" alt="" id="28">
                        </div>
                        <h5>BE (2020)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/29.png' %}" alt="" id="29">
                        </div>
                        <h5>BTS, The Best (2021)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/30.png' %}" alt="" id="30">
                        </div>
                        <h5>BUTTER (2021)</h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="{% static 'img/31.jpg' %}" alt="" id="31">
                        </div>
                        <h5>PROOF (2022)</h5>
                    </li>
                </div>
            </div>
            <div class="popular_artist">
                <div class="h4">
                    <h4>Popular Artist</h4>
                    <div class="btn_s"></div>
                </div>
                <div class="item">
                    <li>
                        <img src="{% static 'img/jin2.jpeg' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static 'img/suga1.jpeg' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static 'img/jhope1.jpeg' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static 'img/namjoon2.jpeg' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static 'img/jimin2.jpeg' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static 'img/tehyung1.jpeg' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static 'img/jungkook1.jpeg' %}" alt="">
                    </li>
                </div>
            </div>
        </div>

        <div class="master_play">
            <div class="wave">
                <div class="wave1"></div>
                <div class="wave1"></div>
                <div class="wave1"></div>
            </div>
            <img src="{% static 'img/dreamer.jpg' %}" alt="" id="poster_master_play">
            <h5 id="title">
                Dreamer
                <div class="subtitle"><marquee behavior="" direction="">Jung Kook (of BTS) featuring Fahad Al Kubaisi</marquee></div>
            </h5>
            <div class="icon">
                <i class='bx shuffle bx-music'> next</i>
                <i class='bx bx-skip-previous'></i>
                <i class='bx bx-play'></i>
                <i class='bx bx-skip-next' ></i>
                <i class='bx bx-cloud-download' id="download_music"></i>
            </div>
            <span id="currentStart">0:00</span>
            <div class="bar">
                <input type="range" id="seek" min="0" max="100">
                <div class="bar2" id="bar2"></div>
                <div class="dot"></div>
            </div>
            <span id="currentEnd">0:30</span>
            <div class="vol">
                <i class='bx bxs-volume-low' id="vol_icon"></i>
                <input type="range" min="0" max="100" id="vol">
                <div class="vol_bar"></div>
                <div class="dot" id="vol_dot"></div>
            </div>
        </div>
    </header>
    <script src="{% static 'js/music.js' %}"></script>
</body>

</html>